.link-button {
  background: none;
  border: none;
  font-size: $s-size;
  outline: none;
  padding: 0 $s-size;
  cursor: pointer;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    color: $base-light;
  }
}

.link-button--submit {
  align-self: flex-end;
  font-size: $m-size;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    color: $base-light;
  }
}

.bold-button {
  background: $base-blue;
  border: none;
  border-radius: 1.5rem;
  outline: none;
  color: white;
  font-size: $s-size;
  // font-weight: bold;
  height: 3rem;
  padding: 0 $xs-size;
  width: 8rem;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    background-color: $base-light;
  }
}
