.link-button {
  box-sizing: border-box;
  background: none;
  border: none;
  font-size: $font-size-xs;
  margin: 0 0 0 $xs-size;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    color: $base-light;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: $s-size;
    margin: 0;
    padding: 0 $s-size;
  }
}

.link-button--title {
  font-size: $s-size;
  font-weight: normal;

  &:hover {
    transform: none;
    color: $base-dark;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: $m-size;
  }
}

.link-button--submit {
  align-self: flex-end;
  font-size: $m-size;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    color: $base-light;
  }

  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size;
    padding: 0 $s-size;
  }
}

.link-button--close {
  color: $text-grey;
}

.link-button--submit-modal {
  @extend .link-button--submit;
  font-size: $s-size;
}

.link-button--nav {
  @extend .link-button;
  background: white;
  border: 1px solid $base-blue;
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: $m-size;
  padding: $xs-size 0;
  text-decoration: none;
}

.link-button--ltg {
  @extend .link-button;
  padding: 0 $s-size 0 0;
  margin: 0;
}

.selected {
  background-color: lighten($base-light, 45%);
}

.bold-button {
  background: $base-blue;
  border: none;
  border-radius: 1.5rem;
  outline: none;
  color: white;
  font-size: $s-size;
  height: 3rem;
  padding: 0 $xs-size;
  width: 8rem;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    background-color: $base-light;
  }

  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-xs;
    height: 1.5rem;
    width: 6rem;
  }
}
