.link-button {
  box-sizing: border-box;
  background: none;
  border: none;
  font-size: $font-size-xs;
  margin: 0 0 0 $xs-size;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    color: $base-light;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: $s-size;
    margin: 0;
    padding: 0 $s-size;
  }
}

.link-button--title {
  font-size: $s-size;
  font-weight: normal;

  &:hover {
    transform: none;
    color: $base-dark;
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: $m-size;
  }
}

.link-button--submit {
  align-self: flex-end;
  font-size: $m-size;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    color: $base-light;
  }

  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size;
    padding: 0 $s-size;
  }
}

.link-button--close {
  color: $text-grey;
}

.link-button--submit-modal {
  @extend .link-button--submit;
  font-size: $s-size;
}

.link-button--nav {
  @extend .link-button;
  background: white;
  border: 3px solid $base-light;
  border-radius: 2rem;
  font-size: $m-size;
  margin: 0 $xs-size $xs-size $xs-size;
  max-width: 20rem;
  padding: $xs-size $s-size;
  text-decoration: none;
}

.link-button--time {
  @extend .link-button;
  font-size: $s-size;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1rem;
  }
}

.link-button--ltg {
  @extend .link-button;
  padding: 0 $s-size 0 0;
  margin: 0;
}

.link-button--stg-body {
  @extend .link-button;
  margin-top: $xs-size;
  font-size: $ml-size;
}

.selected {
  background-color: $base-light;
  color: white;

  &:hover {
    color: white;
  }
}

.bold-button {
  background: $base-blue;
  border: none;
  border-radius: 1.5rem;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: $s-size;
  height: 3rem;
  padding: 0 $xs-size;
  width: 8rem;
  transition: 0.05s ease-in;

  &:hover {
    transform: scale(1.1);
    background-color: $base-light;
  }

  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-xs;
    height: 1.5rem;
    width: 6rem;
  }
}

.bold-button--stg {
  @extend .bold-button;
  font-size: 1.2rem;
  height: 2.25rem;
  margin-bottom: $s-size;
  width: 14rem;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1rem;
    height: 2rem;
    width: 12rem;
  }
}

.bold-button--stg-list {
  @extend .bold-button--stg;
  background-color: $base-blue;

  &:hover {
    background-color: $base-blue;
  }
}

.bold-button--add-time {
  @extend .bold-button;
  background-color: #40b6c5;
  font-size: $s-size;
  height: 2.2rem;
  margin-left: $xl-size;
  width: 8rem;

  &:hover {
    background-color: lighten($color: $base-light, $amount: 25%);
  }

  @media (max-width: $desktop-breakpoint) {
    margin-left: $s-size;
    font-size: 0.9rem;
    height: 1.5rem;
    width: 6rem;
  }
}

.bold-button--add-activity {
  @extend .bold-button;
  font-size: $m-size;
  padding: $xs-size $s-size;
  height: 3.5rem;
  width: 20rem;
  border-radius: 1.75rem;

  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size;
    height: 2.4rem;
    width: 15rem;
    border-radius: 1.2rem;
  }
}
