.header {
    align-items: center;
    justify-content: center;
}

.header__body {
    align-items: center;
    display: flex;
    width: 100%;
}

.header__logo {
    height: $l-size;
    padding: $s-size;
    width: $l-size;
}