.body-container--headline {
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
  }
}

.headline__section {
  width: 50%;

  @media (max-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.headline__section--img {
  @extend .headline__section;

  @media (max-width: $desktop-breakpoint) {
    margin-top: $s-size;
  }
}

.headline__title {
  font-size: $l-size;
  margin: $l-size 0 $m-size 0;
  padding: 0;
  padding: 0;

  @media (max-width: $desktop-breakpoint) {
    font-size: $m-size;
    margin: $s-size 0 $xs-size 0;
  }
}

.headline__subtitle {
  // color: lighten($color: $light-grey, $amount: 25%);
  color: $text-grey;
  font-size: $s-size;
  font-weight: normal;
  margin: $m-size 0;

  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-xs;
    margin: $xs-size 0;
  }
}

.headline__subtitle--app-name {
  @extend .headline__subtitle;
  font-style: italic;
}

.headline__section--text {
  @extend .headline__section;
}

.headline__img {
  height: auto;
  width: 100%;

  @media (max-width: $desktop-breakpoint) {
    max-height: 15rem;
    width: auto;
  }
}
