.smart__img-container {
  width: 45%;
  margin-right: 5%;
}

.smart__img {
  width: 100%;
  height: auto;
}

.smart__text-container {
  width: 50%;
}

.smart__title {
  font-size: $l-size;
  margin: $s-size 0;
}

.smart__subtitle {
  font-size: $m-size;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.smart__letter {
  color: $base-blue;
  font-size: $l-size;
  padding-right: 3px;
}
