.add-activity__container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.add-activity {
  display: flex;
  flex-direction: column;
  margin-top: $l-size;
  width: 100%;
  justify-content: space-evenly;
}

.add-activity__text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $m-size;
  text-align: center;
}

.add-activity__title {
  font-size: $l-size;
  margin: 0;

  @media (max-width: $desktop-breakpoint) {
    font-size: $m-size;
  }
}

.add-activity__subtitle {
  color: $text-grey;
  font-size: $m-size;
  line-height: 1.5;
  margin: $ml-size 0;
  width: 80%;

  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size;
    margin: $m-size;
  }
}
