.ltg__top-row {
  display: flex;
  justify-content: space-between;
}

.ltg__top-row__buttons {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  width: 8rem;
}

.ltg__title {
  padding: 0;
  margin: 0;
}
