.ltg {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding-top: $m-size;

  @media (max-width: 1150px) {
    justify-content: center;
    padding-top: 0;
  }
}

.ltg__top-row {
  background-color: $base-blue;
  border-radius: 2rem 2rem 0 0;
  height: 60%;
}

.ltg__bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.ltg__progress {
  height: 100%;
}

.ltg__title {
  color: $base-dark;
  font-size: $m-size;
  padding: 0;
  margin: 0;
}

.ltg__description {
  color: $base-dark;
  font-size: $s-size;
  margin: $s-size 0 0 0;
}
