.activity-overview__container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-top: $s-size;
  width: 20rem;

  @media (max-width: 1632px) {
    margin-left: $s-size;
  }
}

.activity-overview__img-contianer {
  height: auto;
  width: 15rem;
  margin: 0 0 0 $s-size;
  padding-top: $s-size;
}

.activity-overview__info-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.activity-overview__text-container {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: 15rem;
  margin-right: $xs-size;
  width: 40rem;

  @media (max-width: $desktop-breakpoint) {
    height: 12rem;
  }
}

.activity-overview__title {
  font-size: $ml-size;
  margin: 0;

  @media (max-width: $desktop-breakpoint) {
    font-size: $m-size;
  }
}

.activity_overview__description {
  color: $text-grey;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: $m-size 0;
}
