.goal-page {
  display: flex;
}

.goal-page__stg-container {
  border-right: 1px solid $base-blue;
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-height: 80vh;
}

.goal-page__time-container {
  padding-left: $s-size;
}
