.stg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  @media (max-width: $desktop-breakpoint) {
    width: 90%;
  }
}

.stg__list-title {
  font-size: $l-size;
  margin: $s-size 0 $l-size 0;

  @media (max-width: 1466px) {
    font-size: $ml-size;
  }

  @media (max-width: $desktop-breakpoint) {
    font-size: $m-size;
    margin-bottom: $m-size;
  }
}

.stg-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 30rem;
  margin-left: $xl-size;

  @media (max-width: 1632px) {
    margin-left: $s-size;
  }
}

.stg-goal-time-list-container {
  align-items: flex;
  display: flex;
  flex-direction: column;
  margin: $xs-size 0;
}

.stg__body {
  box-sizing: border-box;
  border: 3px solid $base-light;
  border-radius: 5.5rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 50%;
  padding: 0 0 0 $s-size;

  @media (max-width: $desktop-breakpoint) {
    max-width: 100%;
  }
}

.stg__title-date-container {
  display: flex;
  margin-bottom: $xs-size;
}

.stg__date-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%);

  @media (max-width: $desktop-breakpoint) {
  }
}

.stg__day-month {
  margin-bottom: 0.2rem;
  font-weight: bold;

  @media (max-width: $desktop-breakpoint) {
    font-size: $xs-size;
  }
}

.stg__year {
  @media (max-width: $desktop-breakpoint) {
    font-size: $xs-size;
  }
}

.stg__info-container {
  display: flex;
  border-left: 1px solid $text-grey;
}

.stg__details-container {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-right: $s-size;
  padding: $xs-size 0 0 $xl-size;
  width: 25rem;

  @media (max-width: $desktop-breakpoint) {
    width: 80%;
    margin: 0 0 0 $s-size;
    padding: 0;
  }
}

.stg__title {
  font-size: $ml-size;
  margin: 0;

  @media (max-width: 1466px) {
    font-size: $s-size;
  }
}

.stg__description {
  font-size: $s-size;
  color: $text-grey;
  margin: 0 0 0.5rem 0;
  flex-wrap: wrap;
  align-self: flex-start;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1rem;
  }
}

.stg__hours-container {
  padding: $xs-size 0 0 0;
  display: flex;
  flex-direction: column;
}

.stg__completed {
  color: $base-light;
  margin: 0;
  font-size: $s-size;
  width: 10rem;
}

.stg__total {
  color: $base-dark;
  font-size: $s-size;
  margin: $xs-size 0;
}

.stg__img-section {
  // background-color: $base-light;
  border-radius: 0 5.3rem 5.3rem 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;

  @media (max-width: $desktop-breakpoint) {
    display: none;
  }
}

.stg__img-container {
  padding: 0;
  width: 8rem;

  @media (max-width: $desktop-breakpoint) {
    display: none;
  }
}

.stg-list__add-goal {
  display: flex;
  justify-content: center;
}
