.time-list__outer-border {
  padding: $xs-size 0 0 $l-size;
  border-left: 1px solid $text-grey;
}

.time-list {
  padding: $xs-size 0 0 $m-size;
  border-left: 1px solid $text-grey;

  @media (max-width: $desktop-breakpoint) {
    padding-left: $xs-size;
  }
}

.time-list__overview {
  padding: 0 0 $m-size 0;
}

.time {
  display: flex;
  flex-direction: column;

  @media (max-width: $desktop-breakpoint) {
  }
}

.time__title-date-container {
  align-items: center;
  display: flex;
}

.time__date-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  transform: translate(-4.1rem, 0);
  width: 5rem;

  @media (max-width: $desktop-breakpoint) {
    transform: translate(-2rem, 0);
    width: 2.8rem;
  }
}

.time__day-month {
  font-weight: bold;
  margin-bottom: 0.2rem;

  @media (max-width: $desktop-breakpoint) {
    font-size: $xs-size;
  }
}

.time__year {
  @media (max-width: $desktop-breakpoint) {
    font-size: $xs-size;
  }
}

.time__title-edit-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.time__title {
  flex-grow: 1;
  font-size: $m-size;
  margin: $s-size 0;

  @media (max-width: $desktop-breakpoint) {
    font-size: 0.9rem;
  }
}

.time__info-container {
  display: flex;
  margin-left: 5rem;

  @media (max-width: $desktop-breakpoint) {
    margin-left: 1.2rem;
  }
}

.time__description {
  color: $text-grey;
  margin-bottom: $ml-size;
  width: 15rem;
}

.time__hours {
  @media (max-width: $desktop-breakpoint) {
    font-size: $xs-size;
  }
}
