.content-container {
  padding: 0 $m-size;
  margin: 0 auto;
  max-width: 80rem;

  @media (max-width: 1632px) {
    margin: 0 auto;
  }
}

.content-container--goal-page {
  @extend .content-container;
  display: flex;

  @media (max-width: 1632px) {
    margin: 0 0;
  }

  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

.content-container--s {
  @extend .content-container;
  max-width: 70rem;
}

.body-container {
  padding: $s-size $s-size;
  display: flex;
  height: 37vh;

  @media (min-width: $desktop-breakpoint) {
    margin: $xl-size $m-size;
    height: 95vh;
  }
}

.body-container:first-of-type {
  height: 70vh;

  @media (max-width: $desktop-breakpoint) {
    height: 65vh;
  }
}

.body-container:last-of-type {
  height: 70vh;

  @media (max-width: $desktop-breakpoint) {
    height: 70vh;
  }
}

.card {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  height: 25rem;
  margin: 1rem 1rem;
  padding: 0;
  transition: 0.3s;
  width: 21rem;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 65%;
  }
}

.card--stg {
  box-sizing: border-box;
  border-radius: 5.5rem;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:hover {
    opacity: 65%;
  }
}
