.content-container {
  padding: 0 $m-size;
  margin: 0 auto;
  max-width: 80rem;
}

.content-container--s {
  @extend .content-container;
  max-width: 70rem;
}

.body-container {
  padding: $s-size $s-size;
  display: flex;
  height: 90vh;

  @media (min-width: $desktop-breakpoint) {
    margin: $xl-size $m-size;
  }
}

.body-container:first-of-type {
  height: 60vh;
}

.body-container:last-of-type {
  height: 70vh;
}
