// colors
$light-grey: #2b292d;
$base-blue: #007685;

// font size
$font-size-l: 1.8rem;
$font-size-s: 1.4rem;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
