// colors
$light-grey: #003037;
$text-grey: #808080;
$base-dark: #003037;
$base-blue: #007685;
$base-light: #40b6c5;

// font size
$font-size-l: 1.8rem;
$font-size-s: 1.4rem;

// spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
